/.ipynb_checkpoints
/aerosol-psf/aerosol-psf_files
/bayesglos01.pdf
/bayesglos02.pdf
/bayesglos03.pdf
/bayesglos04.pdf
/bayesglos05.pdf
/DiffEqs/.ipynb_checkpoints
/dask/.ipynb_checkpoints
/dask/dask-worker-space
/thematic-map/cschemes.tex
/thematic-map/cschemes.txt
/thematic-map/fixedColourPlot.py
/.vscode/launch.json
/.vscode/settings.json
/jakevdpFreqBayes/.ipynb_checkpoints
